[
    { rabbitmq_management, [
        { load_definitions, "/etc/definitions/definitions.json"}
    ]},
    {rabbitmq_mqtt, [
        {allow_anonymous,  false},
        {vhost,            <<"/sf-mqtt-readings">>},
        {exchange,         <<"sf-mqtt">>},
        {ssl_listeners,    []},
        %% Default MQTT with TLS port is 8883
        %% {ssl_listeners,    [8883]}
        {tcp_listeners,    [1883]},
        {tcp_listen_options, [{backlog, 4096},
                            {nodelay, true}]}
    ]}
].